@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }
  body {
    @apply font-inter text-gris-oscuro bg-blanco-hueso;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }
}

@layer utilities {
  .fade-in-up {
    animation: fadeInUp 0.6s ease-out forwards;
  }
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .scroll-animate {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }

  .scroll-animate-visible {
    opacity: 1;
    transform: translateY(0);
  }

  .animate-marquee-scroll {
    animation: marquee-scroll 25s linear infinite;
  }

  @keyframes marquee-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }

  @keyframes pulse {
    50% {
      opacity: .5;
    }
  }

  .animate-pulse-slow {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }
}

 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

.countdown-section {
  font-family: 'Poppins', sans-serif;
  color: white;
  text-align: center;
  padding: 60px 0;
}

.countdown-section h3 {
  font-size: 1rem;
  letter-spacing: 1.5px;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-weight: 400;
}

.countdown {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.countdown div {
  text-align: center;
}

.countdown span {
  display: block;
  font-size: 3rem;
  font-weight: 600;
  text-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.countdown p {
  font-size: 0.8rem;
  margin-top: 0px;
  letter-spacing: 1px;
  color: #ccc;
}

